*{
    margin: 0;
    padding: 0;
    border: 0;
}
.body{
    overflow-x: hidden;
}

.poppins-regular {
    font-family: "Poppins", serif;
    font-weight: 400;
    font-size: large;
    font-style: normal;
    color: rgb(22, 105, 131);
    margin-bottom: 10px;
    
}
#p1 {
    text-align: center;
    width: auto;
    color: white;
}
#youtube_descr{
    color: white;
}
.poppins-regular2 {
    font-family: "Poppins", serif;
    font-weight: 400;
    font-size:medium;
    font-style: normal;
    color: white;
}
.poppins-regular3 {
    font-family: "Poppins", serif;
    font-weight: 400;
    font-size:xx-large;
    font-style: normal;
    color: white;
}
.poppins-regular4 {
    font-family: "Poppins", serif;
    font-weight: 400;
    font-size: large;
    font-style: normal;
    color: rgb(246, 248, 248);
    margin-bottom: 10px;
    
}
.poppins-regular5 {
    font-family: "Poppins", serif;
    font-weight: 400;
    font-size: large;
    font-style: normal;
    color: rgb(22, 105, 131);
    font-size: 40px;
    
}
.poppins-regular6 {
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
    color: rgb(22, 105, 131);
    font-size: 15px;
    text-align: justify;
    padding: 5px;


    
}
.poppins-regular7 {
    font-family: "Poppins", serif;
    font-weight: 400;
    font-size: large;
    font-style: normal;
    color: rgb(255, 255, 255);
    font-size: 40px;
    
}
/* Header */

header{
    z-index: 101;
    position: fixed;
    height: 100px;
    width: 100vw;
    background-color: rgb(216, 241, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.container1{
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin-left: 40px;
}
.container11{
    display: none;
}
.container2{
    width:100% ;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.logo{
    width: 100px;
    height: 70px;
    background-image: url(./img/logo2.png);
    background-size: cover;
}
.oracao{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 50px;
    height: 50px;
    width: 150px;
    background-color: brown;
    border-radius: 30px;
    transition: 0.5s;
    cursor: pointer;
}
.bordaLogo{
    display: flex;
    align-items: center;
    margin-left: 10px;
    width: 90px;
    height: 90px;
    border-radius: 50px;
    
}
.button_menu{
    border-radius: 5px;
    padding: 5px;
    transition: 0.5s;
    cursor: pointer;
}
.button_menu:hover{
    background-color:#277d97;
}
.poppins-regular#menu:hover{
    color: white;
}
.oracao:hover, .botao_enviar:hover{
    background-color: rgb(255, 134, 54);
}
/* Pedido de oracao */
.ped_oracao{
    display: flex;
    position: absolute;
    z-index: 100;
    width: 0%;
    height: 95%;
    background-color: #55a741;
    transition: 0.2s;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    
    
}
.ped_oracao2{
    margin-top: 25px;
    display: none;
    border-radius: 10px;
    width: 520px;
    height: 500px;
    background-color: aliceblue;
    align-content: center;
    justify-content: center;
    padding-left: 50px;
    
    
}
.ped_oracao_input{
    display: none;
    width: 400px;
    height: 25px;
    border-radius: 5px;
    margin-bottom: 20px;
    box-shadow: 2px 2px 5px;
    padding: 5px;
}
.ped_oracao_grid{
    display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: auto auto auto;

}
.ped_oracao_input1, .ped_oracao_input2, .ped_oracao_input3, .ped_oracao_input4, .ped_oracao_input5, .ped_oracao_input6{
    width: 30px;
    height: 25px;
    border-radius: 5px;
    margin-bottom: 20px;
    box-shadow: 2px 2px 5px;
    padding: 5px;
    display: none;
    cursor: pointer;
}
.ped_oracao_input7{
    width: 400px;
    height: 80px;
    border-radius: 5px;
    margin-bottom: 20px;
    box-shadow: 2px 2px 5px;
    vertical-align: top;
    resize: none;
    padding: 5px;
    display: none;
    

}
.ped_oracao_input1{
    grid-column: 1; 
    grid-row: 1 ;
}
.ped_oracao_input2{
    grid-column: 1; 
    grid-row: 2 ;
}
.ped_oracao_input3{
    grid-column: 1; 
    grid-row: 3 ;
}
.ped_oracao_input4{
    grid-column: 2; 
    grid-row: 1 ;
}
.ped_oracao_input5{
    grid-column: 2; 
    grid-row: 2 ;
}
.ped_oracao_input6{
    grid-column: 2; 
    grid-row: 3 ;
}
#ped_oracao_titulo{
    margin-top: 20px;
    display: none;
    font-size: 25px;
    justify-self: center;
}
.text_oracao, .text_oracao1,.text_oracao2,.text_oracao3,.text_oracao4,.text_oracao5,.text_oracao6{
    font-family: "Poppins", serif;
    font-weight: 400;
    font-size: large;
    font-style: normal;
    color: rgb(22, 105, 131);
    margin-bottom: 2px;
    transform: translateX(40px);
    width: 150px;
    display: none;
}
.text_oracao{
    width: auto;
    font-size: 13px;
    transform: translateX(0px);
}
.text_oracao1{
    
    grid-column: 1; 
    grid-row: 1 ;
}
.text_oracao2{
    grid-column: 1; 
    grid-row: 2 ;
}
.text_oracao3{
    grid-column: 1; 
    grid-row: 3 ;
}
.text_oracao4{
    grid-column: 2; 
    grid-row: 1 ;
}
.text_oracao5{
    grid-column: 2; 
    grid-row: 2 ;
}
.text_oracao6{
    grid-column: 2; 
    grid-row: 3 ;
}
.enviar{
    display: flex;
    }
.botao_enviar{
    display: none;
    margin-left: 10px;
    height: 85px;
    width: 60px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 5px;
    color: white;
    background-color: brown;
    transition: 0.5s;
    align-items: center;
    justify-content: center;
}
/* Body */
#body{
    overflow-x: hidden;
}
.box_logo{
    margin-top: 50px;
    width: 320px;
    height: 320px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: 2; 
    grid-row: 1 / 2; 
}
.logo2{
    width: 300px;
    height: 300px;
    background-image: url(./img/Logo-removebg-preview.png);
    background-size: cover;
}
.title{
    padding-top: 50px;
    display: grid;
    grid-template-columns: 10vw 30vw 50px 50px 1fr; 
    grid-template-rows: 300px 100px;
    color: white;
    height: 90px;
    margin-bottom: 150px;
    gap: 20px;
    align-items: center;
    
}
.box_text{
    height: 100px;
    width: 45vw;
    font-size: 30px;
    grid-column: 3/6;
    grid-row: 1/2;
    margin-top: 0px;
}
#versiculo{
    font-size: 30px;
}
.face{
    margin-top: 50px;
    width: 50px;
    height: 50px;
    background-image: url(./img/face.png);
    background-size: cover;
    grid-column: 3;
    grid-row: 2;
    transition: 0.3s;
    cursor: pointer;
}
.face#footer{
    margin: 0px;
    grid-column: 2;
    grid-row: 1;
}
.face:hover{
    transform: scale(1.1);
}
.youtube{
    margin-top: 50px;
    width: 50px;
    height: 50px;
    background-image: url(./img/youtube.png);
    background-size: cover;
    grid-column: 4;
    grid-row: 2;
    transition: 0.3s;
    cursor: pointer;
}
.youtube#footer{
    margin-top: 0px;
    grid-column: 2;
    grid-row: 1;
    transform: translateX(70px);
}
.youtube:hover{
    transform: scale(1.1);
    
}
.insta{
    margin-top: 50px;
    width: 50px;
    height: 50px;
    background-image: url(./img/Insta.png);
    background-size: cover;
    grid-column: 5;
    grid-row: 2;
    transition: 0.3s;
    cursor: pointer;
}
.insta#footer{
    margin-top: 0px;
    grid-column: 2;
    grid-row: 1;
    transform: translateX(140px);
}
.insta:hover{
    transform: scale(1.1);
    
}
.menu_hamburguer{
    display: none;
}
body{
    background-color: white;
    overflow-x: hidden;
    
    
}

.playwrite-au-vic-guides-regular {
    font-family: "Dancing Script", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 150px;
  }
.playwrite-au-vic-guides-regular2 {
    margin-left: 200px;
    font-family: "Dancing Script", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 80px;
  }
.parallax1{
    padding-top: 100px;
    width: 100vw;
    height: 90vh;
    background-size: cover;
    background-attachment: fixed;
    background-image: 
        linear-gradient(to top, rgba(0, 0, 0, 0.6)20%, rgba(0, 0, 0, 0)), /* Degradê */
        url(./img/sky.jpg);
}
.defaut{
    display:flex;
    width: 100vw;
    height: 450px;
    background-color: rgb(255, 255, 255);
   justify-content: center;
    gap: 20px;
    
}

.info1{
    align-items: center;
    justify-content: center;
    text-align: justify;
    height: 250px;
    width: 50vw;
    
   
}
.info2{
    align-items: center;
    justify-content: center;
    height: 250px;
    width: 50vw;
    text-align: justify;
}
.foto1{
    height: 300px;
    width: 300px;
    background-image: url(./img/FOTO2.jpeg);
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    box-shadow: 2px 2px 5px;
    margin-top: 20px;
    
}
.MVV{
    display: flex;
    justify-content: center;
    align-self: center;
    height: 380px;
    width: 100vw;
    margin-bottom: 60px;
    background-color: white;
    
}
.Missao, .Visao, .Valores{
    height: 350px;
    width: 300px;
    display: grid;
    grid-template-columns: 1fr; 
    grid-template-rows: auto auto;
    padding: 20px;
    justify-items: center;
    align-items: start;
    
    
}
.Missao{
    background-color: #277d97;
}
.Visao{
    background-color: #ce9324;
}
.Valores{
    background-color: #ce4c24;
}
.Micone, .Vicone, .VVicone{
    background-size: cover;
    width: 100px;
    height: 100px;
    grid-column: 1; 
    grid-row: 1; 
    filter: brightness(0) invert(1);
}
.Micone{
    background-image: url(./img/missao.png);
}
.Vicone{
    background-image: url(./img/visao.png);
}
.VVicone{
    background-image: url(./img/valores.png);
}
#centralizado{
    text-align: justify;
    }
#start_text1{
    transform: translateY(-50px)translateX(-5px);
}
#start_text3{
    transform: translateY(-10px)translateX(5px);
}
.box_info{
    width: 340px;
    height: 400px;
    background-color: rgba(27, 27, 27, 0.3);
    box-shadow: 2px 2px 1px;
    border-radius: 5px;
    
}
.video-thumbnail{
    width: 320px; 
    height: 180px; 
    background-size: cover; 
    background-position: center;
    border: 2px solid #000000;
    cursor: pointer; 
    margin-left: 10px;
    margin-top: 10px;
    border-radius: 5px;
}
.info_info{
    margin-left: 10px;
    margin-top: 10px;
    width: 320px;
    height: 180px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    
    
}
.fundo_ornamento{
    padding-top: 50px;
    width: 100vw;
    height: 100px;
    display: flex;
    align-items: space-between;
    justify-content: center;
    background-color: white;
    gap: 20px;

}
.ornamento1{
    margin-left: 20px;
    width: 100px;
    height: 100px;
    background-image: url(./img/ornamento.png);
    background-size: cover;
   
}
.ornamento2{
    width: 90vw;
    height: 100px;
    background-size: cover;
}
.parallax2{
    display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: auto 350px 600px;
    /* grid-template-columns: 35vw 1fr; */
    background-image: 
        linear-gradient(to top, rgba(0, 0, 0, 0.6)100%, rgba(0, 0, 0, 0)),
        url(./img/bk-biblia.jpg);
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
    align-items: center;
    justify-content: center;
    
}
.fundo_ornamento1{
    padding-top: 50px;
    width: 100vw;
    height: 100px;
    display: flex;
    gap: 20px;
    grid-column: 1 / 3; 
    grid-row: 1; 
    
}
.info2{
    height: 300px;
    width: 50vw;
    grid-column: 2; 
    grid-row: 2; 
    margin-right: 8vw;
    
}

.foto2{
    height: 300px;
    width: 300px;
    background-image: url(./img/culto.png);
    background-size: cover;
    border-radius: 10px;
    box-shadow: 2px 2px 5px;
    grid-column: 1; 
    grid-row: 2; 
    margin-left: 9vw;
    margin-top: 0px;
    
}
.foto2_2{
    display: none;
}
.defaut2{
    display:flex;
    width: 100vw;
    height: 450px;
    align-items: center;
    justify-content: center;
    gap: 20px;
    grid-column: 1 / 3; 
    grid-row: 3; 
    
}
/* Eventos */
.foto_evento1{
    height: 450px;
    width: 100%;
    background-image: url(./img/evento.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    box-shadow: 2px 2px 5px;
    /* transform:rotate(-5deg); */
    grid-column: 2 / 5; 
    grid-row: 1; 
    margin: 10px;
    
    
    
    
}
/* .foto_evento2{
    height: 300px;
    width: 100%;
    background-image: url(./evento2.jpeg);
    background-color: aquamarine;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    box-shadow: 2px 2px 5px;
    grid-column: 2 / 5; 
    grid-row: 4; 
    
    
}
.foto_evento3{
    height: 300px;
    width: 100%;
    background-image: url(./img/evento2.jpeg);
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    box-shadow: 2px 2px 5px;
    grid-column: 2/5; 
    grid-row: 7; 
    margin: 10px;
    
    
} */
.info_evento1{
    align-items: start;
    justify-content: center;
    width: 100%;
    grid-column: 2 / 5; 
    grid-row: 2; 
    
}
.info_evento2{
    align-items: start;
    justify-content: center;
    width: 100%;
    grid-column: 2 / 5; 
    grid-row: 5; 
    
}
.info_evento3{
    align-items: center;
    justify-content: center;
    width: 100%;
    grid-column: 2 / 5; 
    grid-row: 8; 
    
}
.defaut_evento{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr; 
    grid-template-rows: 500px 50px 100px 320px 50px 100px 320px 50px;
    width: 100vw;
    height: 600px;
    background-color: rgb(255, 255, 255);
    justify-content: center;
    margin-bottom: auto;
   
    
}
.fundo_mapa{
    padding-top: 50px;
    width: 100vw;
    height: 150px;
    display: flex;
    align-items: space-between;
    justify-content: center;
    background-color: white;
    gap: 20px;

}
.footer{
    display: grid;
    grid-template-columns: 33vw 33vw 33vw; 
    grid-template-rows: 150px;
    align-items: center;
    justify-items: center;
    background-color: rgb(216, 241, 255);
    
    
}
.box_footer{
    height: 100px;
    width: 100px;
    background-color: #277d97;
    grid-column: 1; 
    grid-row: 1; 
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo_footer{
    height: 90px;
    width: 90px;
    background-image: url(./img/Logo.jpg);
    background-size: cover;
    border-radius: 50%;

}
.fundo_versiculo{
    height: 200px;
}
.gallery-container {
    position: relative;
    width: 80%;
    margin: auto;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 2px 2px 10px;
    
}

.gallery {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.gallery-item {
    width: 100%;
    object-fit: cover;
    height: 500px;  
    flex-shrink: 0;  /* Impede que as imagens encolham */
}

.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
}

.left {
    left: 10px;
}

.right {
    right: 10px;
}
.margem{
    width: 100%;
    height: 100px;
    
}
/* doacao */
.parallax3{
    width: 100%;
    height: 600px;
    background-image: 
        linear-gradient(to bottom, rgba(0, 0, 0, 0.8)20%, rgba(0, 0, 0, 0)), /* Degradê */
        url(./img/blue-gradient-background.jpg);
    background-attachment: fixed;
    background-size: cover;
    
}
.parallax4{
    width: 100%;
    height: auto;
    background-image: url(./img/vivid.jpg);
    background-size: cover;
    background-size: cover;
    
}
.doacao{
    display: grid;
    grid-template-columns: 20px 50vw 50vw 20px; 
    grid-template-rows: 400px 400px;
    
    
}

.banco, .pix{
    display: grid;
    grid-template-columns: auto auto 33vw; 
    grid-template-rows: 50px 300px;
    background-color: white;
    border-radius: 5px;
    height: 350px;
    width: 95vw;
    justify-items:center;
    align-items: center;
    
}
.pix{
    margin-top: 20px;
    grid-column: 2/3; 
    grid-row: 1;
    margin-bottom: 20px;
}
.banco{
    grid-column: 2/3; 
    grid-row: 2;
    display: none;
}
#p2{
    grid-column: 1/2;
    font-size: 30px;
}
#p4{
    grid-column: 3;
    font-size: 30px;
    
}
.box_qr{
    grid-column: 1; 
    grid-row: 2;
    transform: translateX(-150px);
}
.qrcode{
    height: 200px;
    width: 200px;
    background-image: url(./img/qrcode.png);
    background-size: cover;
    
    
}
.qrinst{
    height: 250px;
    width: 400px;
    grid-column: 1; 
    grid-row: 2;
    transform: translateX(160px);
    
    
}
.copiacola{
    display: flex;
    width: 200px;
    height: 50px;
    background-color: #071225;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.2s;
    box-shadow: 2px 2px 5px;
    
}
.copiacola:hover{
    background-color: #1b458b;
    
}
.cc{
    background-image: url(./img/cc.png);
    background-size: cover;
    width: 30px;
    height: 30px;
    
}

.foto_banco2{
    height: 250px;
    width: 330px;
    grid-column: 3; 
    grid-row: 2;
    background-image: url(./img/foto_banco2.png);
    background-size: cover;
    
    
}
#p5{
    margin-top: 70px;
}
#instr{
    margin-bottom: 20px;
    font-size:22px;
    align-self: start;
}
.foto_banco{
    height: 260px;
    width: 260px;
    grid-column: 1; 
    grid-row: 2;
    background-image: url(./img/foto_banco.png);
    background-size: cover;
    margin-left: 100px;
    
}
.info_banco{
    grid-column: 2; 
    grid-row: 2; 
}
#copy_button{
    font-size: 14px;
    
}


/* TABLET */
@media screen and (max-width: 1090px) 
{
    .container2{
        display: none;
    }
    .container11{
        display: inline;
        width: 40vw;
    }
    .box_logo{
        display: none;
    }
    .title{
        grid-template-columns: 1fr; 
        grid-template-rows: 50px 300px;
        justify-items: center;
        align-items: center;
        margin: 40px;
        
        
    }
    .box_text{
        width: 80vw;
        grid-column: 1;
        grid-row: 2;
        
    }
    .face, .youtube, .insta{
        grid-column: 1;
        margin-top: 100px;
        grid-row: 1;
        justify-self: start;
        margin-left: 60px;
    }
    .face{
        transform: translate();
    }
    .youtube{
        transform: translate(80px);
    }
    .insta{
        transform: translate(160px);
    }
    #versiculo{
        font-size: 20px;
    }
    .container1{
        gap: 10px;
        margin: none;
        padding: none;
    }
    .bordaLogo{
        transform: translateX(-20px)
    }
    .menu_hamburguer{
        display: flex;
        height: 50px;
        width: 50px;
        background-image: url(./img/hunburguer.jpg);
        background-size: cover;
        margin-right: 40px;
        border-radius: 50%;
        cursor: pointer;
    }
    .defaut{
        display:inline;
        height: auto;
    }
    .info1{
        margin: 20px;
        height:auto;
        width: auto;
        text-align: justify;
        
    }
    .foto1{
        
        width: 80vw;
        margin-left: 10vw;
        margin-bottom: 40px;
    }
    
    .parallax2{
        display: grid;
        grid-template-columns: 1fr; 
        grid-template-rows: auto auto auto auto;
        background-image: 
            linear-gradient(to top, rgba(0, 0, 0, 0.6)100%, rgba(0, 0, 0, 0)),
            url(./img/bk-biblia.jpg);
        background-size: cover;
        background-position: bottom;
        background-attachment: fixed;
        align-items: center;
        justify-content: center;
        height: auto;
        
    }
    .foto2{
        display: none;
    }
    .foto2_2{
        display: block;
        height: 300px;
        width: 80vw;
        margin-left: 14vw;
        margin-bottom: 40px;
        background-image: url(./img/culto.png);
        background-size: cover;
        border-radius: 10px;
        box-shadow: 2px 2px 5px;
        grid-column: 1; 
        grid-row: 3; 
        
        
    }
    .info2{
        grid-column: 1; 
        grid-row: 2; 
        margin-left: 70px;
        margin-right: 70px;
        margin-bottom: 20px;
        height:auto;
        width: auto;
        text-align: justify;
    }
    .defaut2{
        display:inline;
        width: 100vw;
        height: auto;
        padding: 40px;
        align-items: center;
        justify-content: center;
        gap: 20px;
        grid-column: 1; 
        grid-row: 4; 
        
    }
    .box_info{
        display: flex;
        height: auto;
        width: 80vw;
        margin-left: 10vw;
        margin-bottom: 20px;
        padding-bottom: 10px;
    }
    .fundo_ornamento1{
        margin-left: 30px;
    }
    .poppins-regular6{
        height: 110px;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .defaut_evento{
        grid-template-columns: 20px auto auto auto 20px; 
    }
    .info_evento1{
        align-items: start;
        justify-content: center;
        width: 100%;
        grid-column: 2 / 5; 
        grid-row: 2; 
        
    }
    .qrinst{
        display: none;
    }
    
    .pix,.banco{
        display: grid;
        grid-template-columns: 20px auto 20px;
        grid-template-rows: auto auto;
        margin-top: 20px;
        margin-bottom: 20px;
        justify-content: center;
        align-content: center;
        width: 90vw;
    }
    #p2{
        margin-right: 50vw;
        grid-column: 2; 
        grid-row: 1; 
        
    }
    .foto_banco{
        margin-left: 150px;
        width: 70px;
        height: 70px;
        grid-column: 1; 
        grid-row: 1;
        border-radius: 5px;
    }
    .qrcode{
        transform: none;
        grid-column: 2; 
        grid-row: 2; 
        
    }
    .fundo_mapa{
        height: 200px;
    }
    #p3{
        display: none;
    }
    .google_maps {
        max-width: 100vw;
        overflow-x: none;
    }
    .youtube:hover, .face:hover, .youtube:hover{
        transform: scale(1.5);
        transition: none;
        cursor:none;
        
    }
    .MVV{
        display: block;
        height: 850px;
        
    }
    .Missao, .Visao, .Valores{
        height: 240px;
        width: 88vw;
        display: grid;
        grid-template-columns: 1fr; 
        grid-template-rows: auto auto;
        padding: 20px;
        justify-items: center;
        align-items: start;
        
        
        
    }
    .Missao{
        background-color: #277d97;
    }
    .Visao{
        background-color: #ce9324;
    }
    .Valores{
        background-color: #ce4c24;
    }
    .Micone, .Vicone, .VVicone{
        width: 50px;
        height: 50px;
    }
    #start_text1{
        margin-top: 40px;
    }
    #orn1, #orn2{
        margin-left: -10px;
    }
    #onr2_titulo{
        font-size: 30px;
    }
    .foto_banco2, #p5, #p4{
        display: none;
    }
    .parallax3{
        height: 1000px;
    }
    .banco, .pix{
        display: block;
    }
    #p2{
        width: 100%;
        text-align: center;
    }
    .box_qr{
        display: grid;
        transform: translateX(0px);
        width: 100%;
        justify-content: center;
    }
    .qrcode{
        grid-column: 1; 
        grid-row: 1; 
    }
    .foto_banco{
        display: none;
    }
    .info_banco{
        height: 250px;
        width: 100%;
        text-align: center;
        margin: 0px;
        padding: 0px;
        grid-row: 1; 
        border: 0px;
        
    
    }
    #info_bnk{
        margin: 40px;
        padding: 0px;
        grid-row: 2; 
        border: 0px;
        height: 20px;
    }
    .container1{
        margin-left: 20px;
    }
    #youtube_descr{
        display: none;
    
    }
    .box_info{
        display: grid;
        justify-content: center;
    }
    .info_info{
        height: auto;
    }
    .video-thumbnail{
        margin-top: 10px;
    }
    .foto_evento1{
        height: 50vh;
        width: 80vw;
    }
    .gallery-item{
        height: auto;
        width: 90vw;
        grid-column: 3;
        transform: translateX(-30px);
    }
    .gallery{
        height: 50vh;
        width: 90vw;    
        background-position: bottom;
    }

}