*{
    margin: 0;
    padding: 0;
    border: 0;
}
.poppins-regular {
    font-family: "Poppins", serif;
    font-weight: 400;
    font-size: large;
    font-style: normal;
    color: rgb(22, 105, 131);
    
}
.poppins-regular:p1 {
    text-align: center;
    
}
.poppins-regular2 {
    font-family: "Poppins", serif;
    font-weight: 400;
    font-size:medium;
    font-style: normal;
    color: white;
}
.poppins-regular3 {
    font-family: "Poppins", serif;
    font-weight: 400;
    font-size:xx-large;
    font-style: normal;
    color: white;
}
.poppins-regular4 {
    font-family: "Poppins", serif;
    font-weight: 400;
    font-size: large;
    font-style: normal;
    color: rgb(246, 248, 248);
    
}
.poppins-regular5 {
    font-family: "Poppins", serif;
    font-weight: 400;
    font-size: large;
    font-style: normal;
    color: rgb(22, 105, 131);
    font-size: 40px;
    
}
.poppins-regular6 {
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
    color: rgb(22, 105, 131);
    font-size: 15px;
    text-align: justify;
    padding: 5px;


    
}
.poppins-regular7 {
    font-family: "Poppins", serif;
    font-weight: 400;
    font-size: large;
    font-style: normal;
    color: rgb(255, 255, 255);
    font-size: 40px;
    
}
/* Header */

header{
    z-index: 100;
    position: fixed;
    height: 100px;
    width: 100vw;
    background-color: rgb(216, 241, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.container1{
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin-left: 40px;
}
.container2{
    width:100% ;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.logo{
    width: 100px;
    height: 70px;
    background-image: url(./img/logo2.png);
    background-size: cover;
}
.oracao{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 50px;
    height: 50px;
    width: 150px;
    background-color: brown;
    border-radius: 30px;
    transition: 0.5s;
    cursor: pointer;
}
.bordaLogo{
    display: flex;
    align-items: center;
    margin-left: 10px;
    width: 90px;
    height: 90px;
    border-radius: 50px;
    
}
.button_menu{
    border-radius: 5px;
    padding: 5px;
    transition: 0.5s;
    cursor: pointer;
}
.button_menu:hover{
    background-color:#277d97;
}
.poppins-regular#menu:hover{
    color: white;
}
.oracao:hover{
    background-color: rgb(255, 134, 54);
}
/* Body */
.box_logo{
    margin-top: 50px;
    width: 320px;
    height: 320px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: 2; 
    grid-row: 1 / 2; 
}
.logo2{
    width: 300px;
    height: 300px;
    background-image: url(./img/Logo-removebg-preview.png);
    background-size: cover;
}
.title{
    padding-top: 50px;
    display: grid;
    grid-template-columns: 10vw 30vw 50px 50px 1fr; 
    grid-template-rows: 300px 100px;
    color: white;
    height: 90px;
    margin-bottom: 150px;
    gap: 20px;
    align-items: center;
    
}
.box_text{
    height: 100px;
    width: 45vw;
    font-size: 30px;
    grid-column: 3/6;
    grid-row: 1/2;
    margin-top: 0px;
}
.poppins-regular4#versiculo{
    font-size: 30px;
}
.face{
    margin-top: 50px;
    width: 50px;
    height: 50px;
    background-image: url(./img/face.png);
    background-size: cover;
    grid-column: 3;
    grid-row: 2;
    transition: 0.3s;
    cursor: pointer;
}
.face#footer{
    margin: 0px;
    grid-column: 2;
    grid-row: 1;
}
.face:hover{
    transform: scale(1.1);
}
.youtube{
    margin-top: 50px;
    width: 50px;
    height: 50px;
    background-image: url(./img/youtube.png);
    background-size: cover;
    grid-column: 4;
    grid-row: 2;
    transition: 0.3s;
    cursor: pointer;
}
.youtube#footer{
    margin-top: 0px;
    grid-column: 2;
    grid-row: 1;
    transform: translateX(70px);
}
.youtube:hover{
    transform: scale(1.1);
    
}
.insta{
    margin-top: 50px;
    width: 50px;
    height: 50px;
    background-image: url(./img/Insta.png);
    background-size: cover;
    grid-column: 5;
    grid-row: 2;
    transition: 0.3s;
    cursor: pointer;
}
.insta#footer{
    margin-top: 0px;
    grid-column: 2;
    grid-row: 1;
    transform: translateX(140px);
}
.insta:hover{
    transform: scale(1.1);
    
}
body{
    background-color: rgb(216, 241, 255);
    overflow-x: hidden;
    
}

.playwrite-au-vic-guides-regular {
    font-family: "Dancing Script", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 150px;
  }
.playwrite-au-vic-guides-regular2 {
    margin-left: 200px;
    font-family: "Dancing Script", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 80px;
  }
.parallax1{
    padding-top: 100px;
    width: 100vw;
    height: 90vh;
    background-size: cover;
    background-attachment: fixed;
    background-image: 
        linear-gradient(to top, rgba(0, 0, 0, 0.6)20%, rgba(0, 0, 0, 0)), /* Degradê */
        url(./img/sky.jpg);
}

.defaut{
    display:flex;
    width: 100vw;
    height: 450px;
    background-color: rgb(255, 255, 255);
   /*  align-items: center; */
    justify-content: center;
    gap: 20px;
    
}

.info1{
    align-items: center;
    justify-content: center;
    height: 250px;
    width: 50vw;
    gap: 30px;
}
.info2{
    align-items: center;
    justify-content: center;
    height: 250px;
    width: 50vw;
    gap: 30px;
}
.foto1{
    height: 300px;
    width: 300px;
    background-image: url(./img/FOTO2.jpeg);
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    box-shadow: 2px 2px 5px;
    
}


.box_info{
    width: 340px;
    height: 400px;
    background-color: rgba(255, 255, 255, 0.3);
    box-shadow: 2px 2px 1px;
    border-radius: 5px;
    
}
.video-thumbnail{
    width: 320px; 
    height: 180px; 
    background-size: cover; 
    background-position: center;
    border: 2px solid #000000;
    cursor: pointer; 
    margin-left: 10px;
    margin-top: 10px;
    border-radius: 5px;
}
.info_info{
    margin-left: 10px;
    margin-top: 10px;
    width: 320px;
    height: 180px;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    
}
.fundo_ornamento{
    padding-top: 50px;
    width: 100vw;
    height: 100px;
    display: flex;
    align-items: space-between;
    justify-content: center;
    background-color: white;
    gap: 20px;

}
.ornamento1{
    margin-left: 20px;
    width: 100px;
    height: 100px;
    background-image: url(./img/ornamento.png);
    background-size: cover;
   
}
.ornamento2{
    width: 90vw;
    height: 100px;
    background-size: cover;
}
.parallax2{
    display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: auto 350px 600px;
    /* grid-template-columns: 35vw 1fr; */
    background-image: 
        linear-gradient(to top, rgba(0, 0, 0, 0.6)100%, rgba(0, 0, 0, 0)),
        url(./img/bk-biblia.jpg);
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
    align-items: center;
    justify-content: center;
    
}
.fundo_ornamento1{
    padding-top: 50px;
    width: 100vw;
    height: 100px;
    display: flex;
    gap: 20px;
    grid-column: 1 / 3; 
    grid-row: 1; 
    
}
.info2{
    height: 300px;
    width: 50vw;
    grid-column: 2; 
    grid-row: 2; 
    margin-right: 8vw;
    
}

.foto2{
    height: 300px;
    width: 300px;
    background-image: url(./img/culto.png);
    background-size: cover;
    border-radius: 10px;
    box-shadow: 2px 2px 5px;
    grid-column: 1; 
    grid-row: 2; 
    margin-left: 9vw;
    margin-top: 0px;
    
}
.defaut2{
    display:flex;
    width: 100vw;
    height: 450px;
    align-items: center;
    justify-content: center;
    gap: 20px;
    grid-column: 1 / 3; 
    grid-row: 3; 
    
}
/* Eventos */
.foto_evento1{
    height: 300px;
    width: 100%;
    background-image: url(./img/evento3.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    box-shadow: 2px 2px 5px;
    /* transform:rotate(-5deg); */
    grid-column: 2 / 5; 
    grid-row: 1; 
    margin: 10px;
    
    
}
.foto_evento2{
    height: 300px;
    width: 100%;
    /* background-image: url(./evento2.jpeg); */
    background-color: aquamarine;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    box-shadow: 2px 2px 5px;
    grid-column: 2 / 5; 
    grid-row: 4; 
    
    
}
.foto_evento3{
    height: 300px;
    width: 100%;
    background-image: url(./img/evento2.jpeg);
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    box-shadow: 2px 2px 5px;
    grid-column: 2/5; 
    grid-row: 7; 
    margin: 10px;
    
    
}
.info_evento1{
    align-items: start;
    justify-content: center;
    width: 100%;
    grid-column: 2 / 5; 
    grid-row: 2; 
    
}
.info_evento2{
    align-items: start;
    justify-content: center;
    width: 100%;
    grid-column: 2 / 5; 
    grid-row: 5; 
    
}
.info_evento3{
    align-items: center;
    justify-content: center;
    width: 100%;
    grid-column: 2 / 5; 
    grid-row: 8; 
    
}
.defaut_evento{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr; 
    grid-template-rows: 320px 50px 100px 320px 50px 100px 320px 50px;
    width: 100vw;
    height: 600px;
    background-color: rgb(255, 255, 255);
    justify-content: center;
   
    
}
.fundo_mapa{
    padding-top: 50px;
    width: 100vw;
    height: 150px;
    display: flex;
    align-items: space-between;
    justify-content: center;
    background-color: white;
    gap: 20px;

}
.footer{
    display: grid;
    grid-template-columns: 33vw 33vw 33vw; 
    grid-template-rows: 150px;
    align-items: center;
    justify-items: center;
    background-color: rgb(216, 241, 255);
    
    
}
.box_footer{
    height: 100px;
    width: 100px;
    background-color: #277d97;
    grid-column: 1; 
    grid-row: 1; 
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo_footer{
    height: 90px;
    width: 90px;
    background-image: url(./img/Logo.jpg);
    background-size: cover;
    border-radius: 50%;

}
.fundo_versiculo{
    height: 200px;
}
.gallery-container {
    position: relative;
    width: 80%;
    margin: auto;
    overflow: hidden;
}

.gallery {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.gallery-item {
    width: 100%;
    object-fit: cover;
    height: 500px;  /* Ajuste a altura conforme necessário */
    flex-shrink: 0;  /* Impede que as imagens encolham */
}

.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
}

.left {
    left: 10px;
}

.right {
    right: 10px;
}